@model List<DistributiecenterFonq.Models.Vestigingvoorraad>

@{
    ViewBag.Title = "Vestingsvoorraad";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Het product is beschikbaar in de volgende winkels : </p>

<table>
    <tr>
        @*<th class="kopregel">VestigingId</th>
        <th class="kopregel">ProductID</th>*@
        <th class="kopregel">Vestigingsnaam</th>
        <th class="kopregel">Voorraad</th>
        <th class="kopregel">Update voorraad</th>
    </tr>


    @foreach (var v in Model)
    {
<tr>
    @*<td>@v.VestigingId</td>
    <td>@v.ProductId</td>*@
    <td>@v.Naam</td>
    <td>@v.Voorraad</td>
    <td>@Html.ActionLink("Update voorraad", "Update", "Vestiging", new { vestId = v.VestigingId, productID = v.ProductId }, null)</td>
</tr>
    }
</table>

