@model DistributiecenterFonq.Models.Vestigingvoorraad
@{
    ViewBag.Title = "Update voorraad";
}

<h2>Update het product:</h2>
@using (Html.BeginForm("Update", "Vestiging"))
{
<table>
    <tr>
        <td>@Html.LabelFor(m => m.Naam)</td>
        <td>@Html.LabelFor(m => m.Voorraad)</td>
    </tr>
    <tr>
        @Html.HiddenFor(m => m.VestigingId)
        @Html.HiddenFor(m => m.ProductId)
        <td>@Html.TextBoxFor(m => m.Naam)</td>
        <td>@Html.TextBoxFor(m => m.Voorraad)</td>
        @Html.ValidationMessageFor(m => m.Voorraad, "", new { @class = "errormessage" })
    </tr>
</table>

    <button type="submit">Update voorraad</button>
}
